<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M7.552 14.193l-.554-.55-6.018-6.018A4.487 4.487 0 0 1 1 5.15a4.514 4.514 0 0 1 6.364-.505l.464.462.464-.462a4.514 4.514 0 0 1 6.364.505 4.491 4.491 0 0 1-.524 6.125l-6.018 6.018zm-1.069-.976l-.468.465a2.512 2.512 0 0 1-3.572-3.541l6.039-6.038 6.039 6.038a2.512 2.512 0 0 1-3.541 3.572l-.468-.465-.468.465a2.512 2.512 0 0 1-3.541-3.572l.33-.33-1.067-1.067z'/%3E%3C/svg%3E" type="image/svg+xml">

    <title>Martha Acosta - Portafolios</title>
</head>
<body class="bg-light">
    <div class="container-fluid"  class="my-4">

        <!-- Menú de navegación -->
        <nav id="MenuPrincipal" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a style="font-family: 'Press Start 2P', cursive; font-size: 10px;" class="navbar-brand" href="#">
                <img src="" alt="" height="30">
                </> Martha
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about" ><i class="bi bi-person"></i> Sobre Mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Educacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>

        <header class="text-center mt-5">

            <div id="text-inicio">
                
            </div> 
            <div id="text-description">
                <img src="https://cdn.leonardo.ai/users/b921db76-c41d-450c-9699-b6b731a55e85/generations/b43cefa8-7a40-4b0b-8371-76931f7387bf/Default_In_the_center_of_the_scene_a_young_woman_with_short_cu_3.jpg?w=512" alt="Tu Nombre" class="img-fluid rounded-circle mb-3" width="150">
                <p> <h1 style="font-family: 'Press Start 2P', cursive; font-size: 20px;" id="animated-name" class="display-4">Hola soy, </h1>
                <p id="descrip" style="display:none;" class="hidden">
                    una entusiasta en formación en el mundo del desarrollo front-end, con un profundo amor por la creación de experiencias web cautivadoras y funcionales.
                    </p>
                   
            </div>
            <div class="text-center my-3">
                <a href="https://www.linkedin.com/in/martha-acosta-ab8ab9272/" target="_blank" class="mx-2">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://github.com/AcostaMartha" target="_blank" class="mx-2">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </div>
            <!--- <img id="img1" src="{{ url_for('static', filename='img/img-control.png') }}" alt="Imagen 1" class="floating-image"> Menú de navegación -->

        </header>
        
        <section id="about" class="my-4">
        
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">Sobre Mí</h2>
                    <p>¡Hola! Soy Martha, participante en el programa de desarrollo web front-end ofrecido por Oracle en colaboración con Alura Latam.</p>
                    <p>Comprometida a completar con éxito el programa y aplicar los conocimientos adquiridos en proyectos prácticos.</p>
                    <p>Con una licenciatura en Informática, he estado inmersa en el mundo del desarrollo web y el análisis de datos durante 
                        los últimos años. Mi enfoque principal es trabajar en proyectos que desafíen mi creatividad y habilidades técnicas, 
                        siempre buscando aprender y mejorar en cada paso del camino.</p>
                  
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="https://cdn.leonardo.ai/users/b921db76-c41d-450c-9699-b6b731a55e85/generations/666627cd-ec19-4696-bae7-f7d608baba34/variations/Default_character_in_full_body_female_glasses_curly_hair_headp_0_666627cd-ec19-4696-bae7-f7d608baba34_0.png" alt="Tu Nombre" class="img-fluid rounded-circle mb-3" width="200">
                    </div>
                </div>
                <section id="hobbies" class="my-4">
                    <div class="container">
                        <h2>Mis Hobbies</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="hobby-box">
                                    <h3>Pasear en plazas y visitar tiendas</h3>
                                    <p>Disfruto explorar diferentes lugares, descubrir productos interesantes en tiendas locales.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hobby-box">
                                    <h3>Asistir a la iglesia</h3>
                                    <p>Seguir a Cristo se ha vuelto una parte fundamental de mi vida; más que simplemente asistir, 
                                        forma parte de mi estilo de vida.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hobby-box">
                                    <h3>Realizar proyectos web</h3>
                                    <p>Me apasiona crear y desarrollar proyectos web desde cero. Disfruto diseñar interfaces de usuario intuitivas, 
                                        escribir código limpio y funcional, y desafiarme a mí misma con nuevos conceptos y tecnologías.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                
            </div>
        
        
        </section>

        <section id="skills" class="my-4">
            <h2>Habilidades y Herramientas</h2>
            <div class="skills-list">
                <div class="skill-item">
                    <i class="fab fa-html5"></i>HTML5</p> 
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <i class="fab fa-css3"></i>css3</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fab fa-js"></i> JavaScript</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fab fa-python"></i> Python</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fas fa-database"></i> Sql Server</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fab fa-windows"></i> Power Bi</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fas fa-file-excel"></i> Excel</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fas fa-paint-brush"></i> Photoshop</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fab fa-windows"></i> <i class="fas fa-code"></i> Visual Studio Code</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </div>
                <div class="skill-item">
                    <p><i class="fas fa-building"></i>Offices</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                    </div>
                </div>
            </div>
            <div class="other-tools-section">
                <h2>Otras Herramientas</h2>
                <ul>
                    <li><i class="fab fa-bootstrap"></i>Bootstrap</li>
                    <li><i class="fab fa-react"></i>React</li>
                    <li><i class="fab fa-angular"></i>Angular</li>

                    <li><b>Diseño Responsivo</b></li>
                    <li><i class="fab fa-wordpress"></i>Wordpress</li>

                    <li><b>Diseño UI/UX</b></li>
                    <li><i class="fab fa-figma"></i>Figma</li>
                </ul>
            </div>

        </section>

        <section id="education" class="my-4 education-section">
            <h2 style="font-family: 'Press Start 2P', cursive;">Educación</h2>
            <div class="education-list">
                <div class="education-item">
                    <h3>Lic. Informatica</h3>
                    <p>2018-2023</p>
                    <p>Universidad del Caribe</p>
                </div>
                <div class="education-item">
                    <h3>Especialidad en Informática con Orientación a la Enseñanza</h3>
                    <p>2024-Hoy</p>
                    <p>Universidad Abierta Para Adultos</p>
                </div>
                <div class="education-item">
                    <h3>Maestría en Big Data e Inteligencia de Negocios</h3>
                    <p>Proximantente</p>
                </div>
                <div class="education-item">
                    <h3>Cursos y Certificados</h3>
                    <p>2023-Hoy</p>
                    <ul>
                        <li><p><b>Proyecto Oracle en Alura Latan, Programacion Frond-End</b> Estudiante</p></li>
                    </ul>   
                </div>
            </div>
        </section>

        <section id="projects" class="my-4">
            <h2 style="font-family: 'Press Start 2P', cursive;" >Proyectos</h2>
            <div class="projects-list">
                <div class="project-item">
                    <h3>Web Hotel Alura Latan</h3>
                    <p>Proyecto personal, pertir realizar el registro en un hotel
                        <i class="fab fa-python"></i> Python, <i class="fab fa-html5"></i> HTML5, 
                        <i class="fab fa-css3"></i> CSS3, <i class="fab fa-js"></i> JavaScript</p>
                    <a href="#" target="_blank">En proceso</a>
                    <img src="{{ url_for('static', filename='img/ImgEncriptador.png') }}" alt="">
                </div>
                <div class="project-item" onmouseover="showImage('imgEncriptador')" onmouseout="hideImage('imgEncriptador')">
                    <h3>Encriptador de Texto</h3>
                    <p>Proyecto personal para el curso Alura Latan</p>
                    <i class="fab fa-python"></i> Python, <i class="fab fa-html5"></i> HTML5, 
                    <i class="fab fa-css3"></i> CSS3, <i class="fab fa-js"></i> JavaScript</p>

                    <a href="https://acostamartha.github.io/encriptador.github.io/" target="_blank">Ver proyecto</a>
                    <img src="{{ url_for('static', filename='img/ImgEncriptador.png') }}" alt="Slide 1">
                </div>
                
            
                <div class="project-item">
                    <h3>Web Para Descargar Audios de IA</h3>
                    <p>Proyecto personal, permite generar audios escucharlos y luego descargarlos por IA, fue creada en 
                        <i class="fab fa-python"></i> Python, <i class="fab fa-html5"></i> HTML5, 
                        <i class="fab fa-css3"></i> CSS3, <i class="fab fa-js"></i> JavaScript</p>
                    <a href="#" target="_blank">Ver proyecto</a>
                    <img src="" alt="">
                </div>
                <div class="project-item">
                    <h3>WEB para Convertir Archivos PDF a Excel/Word</h3>
                    <p>Proyecto personal, permite convertir audios y descargarlos de pdf a excel, fue creada en 
                        <i class="fab fa-python"></i> Python, <i class="fab fa-html5"></i> HTML5, 
                        <i class="fab fa-css3"></i> CSS3, <i class="fab fa-js"></i> JavaScript</p>
                    <a href="#" target="_blank">Ver proyecto</a>
                    <img src="" alt="">
                </div>
                <div class="project-item">
                    <h3>WEB TiendaOnline de Personalizados</h3>
                    <p>Proyecto personal, permite realizar pedidos y compras de ejemplo, fue creada en 
                        <i class="fab fa-python"></i> Python, <i class="fab fa-html5"></i> HTML5, 
                        <i class="fab fa-css3"></i> CSS3, <i class="fab fa-js"></i> JavaScript</p>
                    <a href="#" target="_blank">Ver proyecto</a>
                    <img src="" alt="">
                </div>
            </div>
        </section>

        <section id="contact" class="my-4">
            <h2>Contacto</h2>
            <div class="row">
                <div class="col-md-6">
                    <p><i class="fas fa-map-marker-alt"></i> Santo Domingo, Rep. Dominicana</p>
                    <p><i class="fas fa-phone"></i> 829-000-000</p>
                    <p><i class="fas fa-envelope"></i> acostam82@gmail.com</p>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico:</label>
                            <input type="email" id="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensaje:</label>
                            <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

   <!-- Animación de puntos -->
   <div class="dots" id="dots-container"></div>

   <!-- Scripts de Bootstrap y FontAwesome ... -->
   <script>
       document.addEventListener("DOMContentLoaded", function () {
           // Generar dinámicamente los puntos
           const dotsContainer = document.getElementById('dots-container');
           const numberOfDots = 100; // Ajusta la cantidad de puntos

           for (let i = 0; i < numberOfDots; i++) {
               const dot = document.createElement('div');
               dot.className = 'dot';
               dot.style.top = Math.random() * window.innerHeight + 'px';
               dot.style.left = Math.random() * window.innerWidth + 'px';
               dotsContainer.appendChild(dot);
           }
       });
   </script>


<footer class="bg-dark text-white text-center py-3">

    <div class="footer-menu">
        <div class="footer-menu1">
            <h3>Servicios</h3>
            <ul>
                <li><a href="#">Servicio 1</a></li>
                <li><a href="#">Servicio 2</a></li>
                <li><a href="#">Servicio 3</a></li>
                <li><a href="#">Servicio 4</a></li>
            </ul>
        </div>
        <div class="footer-menu2">
            <h3>Otros Contenidos</h3>
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Galería de Fotos</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
        </div>
        <div class="footer-menu3">
            <h3>Redes Sociales</h3>
            <ul class="social-icons">
                <li><a href="#" class="fab fa-facebook"></a></li>
                <li><a href="#" class="fab fa-twitter"></a></li>
                <li><a href="#" class="fab fa-instagram"></a></li>
                <li><a href="https://www.linkedin.com/in/martha-acosta-ab8ab9272/" ><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/AcostaMartha"><i  class="fab fa-github"></i></a></li> 
            </ul>
        </div>
    </div>

        <div class="footer-description">
            <hr>
            <p style="font-size: 10px;">Copyright &copy; 2024 Martha Acosta ♥ Cristo te Ama!</p>
        </div>
   
</footer>



    <!-- scripts de Bootstrap y FontAwesome -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- ... Otros scripts ... -->

    <script>
        $(document).ready(function(){
            // Configuración del slider de fondo
            $('#background-slider').slick({
                dots: false,
                infinite: true,
                speed: 500,
                fade: true,
                cssEase: 'linear',
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000
            });
        });
    </script>

</body>
</html>
