body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    cursor: default;
}

.bg-light {
    background-color: #080808!important;
}



#about,
header,
#skills,
#education,
#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.skills-list,
.education-list,
.projects-list {
    max-width: 600px; 
}


.container {
    flex: 1;
}


header {
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

section {
    margin: 20px;
    margin-top: 80px;
}

h2 {
    color: #34dbd0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item {
    width: 48%;
    margin-bottom: 20px;
    background: #2b2b2b;
    border-radius: 14px;
    padding: 5px;
}

.progress {
    height: 20px;
    background-color: #151515; 
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    line-height: 20px;
    text-align: center;
    background-color: #b91588; 
    color: #ffffff; 
    border-radius: 10px;
}


@media (max-width: 768px) {

    .footer-menu div {
        flex-basis: 100%;
    }
}

.container-fluid {
    padding-right: 0; 
    padding-left: 0; 
    margin-right: auto;
    margin-left: auto; 
    
}

#contact {
    background-color: #0e0e0ec0 !important;
}

#projects, #skills, #contact {
    background: #174f67;
    padding: 25px;
    border-radius: 15px;
    color: #ffffff;
    border: solid 2px #552d9e;

    border-top: solid 31px #aa1654;
    border-bottom: solid 31px #aa1654;
}


#projects h2, #education h2, #skills h2 {

        color: #ba1670;
        background: #0e0e0e;
        border-radius: 5px;
        padding: 7px;
        width: 100%;
        text-align: center;
        margin-top: -27px;

}

.project-item h3, .skill-item h3 {
    font-size: 15px;
    color: #dbdbdb;
    background: #bd2165;
    padding: 12px;
    margin-top: -10px;
    border-radius: 5px;
}



#MenuPrincipal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; 
    z-index: 1000; 
    border-radius: 0 0 17px 17px;
    cursor: pointer;
}
.nav-link a {
    font-family: 'Press Start 2P', cursive; 
    font-size: 10px;
    
}

a {
    font-family: 'Press Start 2P', cursive; 
    font-size: 10px;
    
}

h2 {
    font-family: 'Press Start 2P', cursive; 
    font-size: 20px;
    color: #ba1670;
}

h3 {
    font-family: 'Press Start 2P', cursive; 
    font-size: 15px;
    color: #dbdbdb;
}
.project-item, .education-item {
    background-color: #f0f0f0; 
    padding: 20px;
    color: #2b2b2b;
    border-radius: 10px;
    margin-bottom: 20px; 
}

.project-item{
    background-image: none;
}


.project-item:hover {
    background: #000;
    color: #f19ddd;
    border:violet solid 1px;
}

.project-item img {
    display: none;
    width: 40%;
}

.project-item:hover img {
    display: block;
}

.project-item {
    
    overflow: hidden; /* Para ocultar el desbordamiento */
    transition: height 0.5s; /* Transición de altura */
}

.project-item:hover {
    height: auto; /* Altura automática al pasar el cursor */
}


.image-visible {
    transform: translateX(0%);
}

.education-item h3 {
    background: #080808;
    padding: 15px;
    border-radius: 15px;
    color: #e127a3;
}

 #education {
    background: #174f67;
    padding: 25px;
    border-radius: 15px;
    color: #343434;
    border: solid 2px #552d9e;
}




/* Estilo de los puntos animados */
@keyframes moveDots {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px); /* Ajusta la distancia vertical del movimiento */
    }
    100% {
        transform: translateY(0);
    }
}

/* Estilo de los puntos */
.dots {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    pointer-events: none;
    z-index: -100; 
}

.dot {
    position: absolute;
    background-color: #7d7d7d; 
    width: 4px; 
    height: 4px; 
    border-radius: 50%;
    animation: moveDots 2s infinite linear;
}

.fa-2x {
    font-size: 4em;
}

#about {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s, -webkit-transform 0.8s;
    padding: 15px;
     background: #d1d1d1;
    padding: 25px;
    border-radius: 15px;
    color: #804062;
    border: solid 2px #3e3e3e;
    border-top: solid #aa1654 48px;
    border-bottom: solid #174f67 48px;

 

}

/* Estilo activo para la sección de "Sobre Mí" */
#about.active {
    opacity: 1;
    transform: translateY(0);
}


#fond-cont {
    background-image: url(https://cdn.leonardo.ai/users/b921db76-c41d-450c-9699-b6b731a55e85/generations/65730703-92d3-43f7-aef7-10606fd1f190/DreamShaper_v5_anime_style_miku_vector_render_red_clothes_spea_1.jpg?w=512);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    margin-top: 0 auto;
    padding: 5px auto;
}

.floating-image {

    width: 70%; /* Ajusta el ancho según tu necesidad */
    height: 70%; /* Ajusta la altura según tu necesidad */
    margin: 10px; /* Ajusta el margen según tu necesidad */
    animation: floatAnimation 3s infinite alternate ease-in-out;
}
@keyframes floatAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px); /* Ajusta la distancia de levitación */
    }
}

.education-section {
    background-color: #000;
    color: #fff;
    padding: 40px;
}

.education-item {
    margin-bottom: 20px;
}

.other-tools-section {
    background-color: #f0f0f0; 
    padding: 20px;
    color: #2b2b2b;
    border-radius: 10px;
    margin-bottom: 20px;
}

.other-tools-section li {
    float: left;
    padding: 2px;
}

.skills-section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px; 
}

.hobby-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.hobby-box h3 {
    color: #333;
}

.hobby-box p {
    color: #666;
}


/* Estilos para la barra de desplazamiento en navegadores webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background-color: #333333; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #aa1654; /* Color del cursor de la barra de desplazamiento */
    border-radius: 6px; /* Radio de borde del cursor */
}

/* Cambiar el puntero del mouse en la barra de desplazamiento */
html{
    cursor: url('img/img-control2.png'), auto;
    cursor: pointer;
}


footer {
    background-color: #0e0e0ec0 !important;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    border-top: solid 15px #ba1670;
    
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.footer-menu div {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.footer-menu h3 {
    color: #1eb8a8;
    margin-bottom: 10px;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
}

.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-menu ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-menu ul li a:hover {
    color: #bf2361;
}

.social-icons {
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons li a > i:hover {
    color: #34dba1 !important;
    cursor: pointer;
}

.footer-description {
    margin-top: 20px;
    text-align: center;
}


button {
    background-color: #000 !important;
    border:none !important;
}

button:hover {
    background-color: #b1185d !important;
    border:none !important;
   
}

.img-fluid rounded-circle mb-3 {
    border-radius: 50px;
    padding: 5px;
}


#text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#descrip {
    font-size: 18px;
    color: #989898;
}

